ZombieLevelAsset(
    configuration: MapRoundConfiguration(
        starting_zombie: 2,
        round_increments: 0,
        initial_timeout:  300,
    ),
    starting_weapons: (
        starting_weapon: "tec9",
        starting_alternate_weapon: Some("pistol")
    ),
    window_panel: (
        interaction_timeout: 0.7,
        spacing: 20.,
        health: 1.,
        nbr: 2

    )
)

