ZombieLevelAsset(
    configuration: MapRoundConfiguration(
        starting_zombie: 10,
        round_increments: 5,
        initial_timeout:  2,
    ),
    starting_weapons: (
        starting_weapon: "tec9",
        starting_alternate_weapon: Some("doublebarrel")
    ),
    window_panel: (
        interaction_timeout: 0.7,
        spacing: 20.,
        health: 1.,
        nbr: 3

    )
)

